<mz-navbar *ngIf="me$ | async; let me;" navbarClass="border deselected">
  <a  class="brand-logo"><img src="https://www.yscc.co.uk/media/image/site/logo-256.png" alt=""></a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a [routerLink]="['/profile', me.id]">Profile</a></mz-navbar-item>
    <mz-navbar-item (click)="CreateJobModal.open()">Post Job</mz-navbar-item>
    <mz-navbar-item><a routerLink="/home">Home</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="/info">LogOut</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>

<mz-modal #CreateJobModal [options]="modalOptions">
  <mz-modal-header>
    Post New Job
  </mz-modal-header>
  <mz-modal-content>
    <ng-container>
        <app-create-job></app-create-job>
    </ng-container>
  </mz-modal-content>


</mz-modal>