<mz-navbar *ngIf="me$ | async; let me;" navbarClass="border deselected">
  <a  class="brand-logo"><img src="http://www.free-icons-download.net/images/green-square-bubble-icon-3592.png" alt=""></a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a [routerLink]="['/profile', me.id]">Profile</a></mz-navbar-item>
    <mz-navbar-item (click)="CreateJobModal.open()">Post Job</mz-navbar-item>
    <mz-navbar-item><a routerLink="/home">Home</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="/info">LogOut</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>

<mz-modal #CreateJobModal [fixedFooter]="true" [options]="modalOptions">
  <mz-modal-header>
    Post New Job
  </mz-modal-header>
  <mz-modal-content>
    <ng-container *ngIf="!!this.user">
        <app-create-job></app-create-job>
    </ng-container>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close> Cancel</button>
  </mz-modal-footer>

</mz-modal>