.height{
    height:10em;
    position: relative;
}
img{
    display:block;
    margin:0 auto;
    position: relative;
    bottom: 2.5em;
    // z-index: 1;
   
}
// card-content{
//   z-index:0;
// }

.avatar {
    height: 12em;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.grassy-knoll {
    z-index: 99999999;
}

.info-card {
    padding: 2em 0 0;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .skill-box {
        height: 9em;
        margin: 0.5em 0;
        box-sizing: border-box;
        color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-basis: 49%; 
        position: relative;

        .overlay {
            position: absolute;
            // z-index: 9999;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
            background-color: rgba(112, 109, 109, 0.7);

            &.selected {
                display: initial;
            }
        }
        
        p {
            position: absolute;
            top: 50%;
            font-size: 2em;
            transform: translateY(-50%);
            left: 0; 
            right: 0;
            text-align: center;
        }
    }
}
