<!-- this is the page that the logged in user will see -->
<!-- Header and basic user info -->
<app-navbar></app-navbar>
<ng-container *ngIf="!!user">
 
  <div class="border container">
    <mz-card class="center-text grassy-knoll height">
      <mz-card-content class="img">
        <img [src]="user.img">
      </mz-card-content>
    </mz-card>
    <mz-card class="center-text info-card outer">
      <mz-card-title >
        <p>{{user.name}}</p>
        <p>{{user.city}}, {{user.state}}</p>
      </mz-card-title>
      <mz-card-content id="bio"> 
          <p>{{user.bio}}</p>
        <button mz-button float (click)="configureModal(this.user)">edit</button>
      </mz-card-content>
    </mz-card>
    <!-- Users Skills -->
    <mz-card class="info-card outer">
      <mz-card-title>
        Skills
      </mz-card-title>
      <mz-card-content>
        <div class="skills-container">
          <div *ngFor="let skill of skills" class="skill-box" [class.selected]="skill.clicked" (click)="skillClicked(skill)" [ngStyle]="{ 'background-image': 'url(' + skill.skillBackground.changingThisBreaksApplicationSecurity + ')' }">
            <p>{{skill.skill}}</p>
          </div>
        </div>
        <button mz-button float (click)="SkillsModal.open()">edit</button>
      </mz-card-content>
    </mz-card>
    <!-- Skills Edit Modal -->
    <mz-modal #SkillsModal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
      <mz-modal-header>
        Update Skills
      </mz-modal-header>
      <mz-modal-content>
        <div class="skills-container">
            <div class="skill-box" *ngFor="let skill of skillOptions" (click)="select(skill)" [ngStyle]="{ 'background-image': 'url(' + skill.img.changingThisBreaksApplicationSecurity + ')' }">
              <p>{{skill.skill}}</p>
            </div>
        </div>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close> Cancel</button>
        <button mz-button [flat]="true" mz-modal-close (click)="submitSkills()">Submit Changes</button>
      </mz-modal-footer>

    </mz-modal>
    <!-- Accepted Jobs list -->
    <ng-container *ngIf="bookedJobs.length > 0">
      <mz-card class="outer">
        <mz-card-title>
          Booked Jobs
        </mz-card-title>
        <mz-card-content>
          <div class="row">
            <div class="col l4 m6 s12" *ngFor="let job of bookedJobs">
              <mz-card class="center-text" (click)="this.goToJob(job)">
                <mz-card-title>{{job.title}}</mz-card-title>
                <mz-card-content>{{job.description}}</mz-card-content>
              </mz-card>
            </div>
          </div>
        </mz-card-content>
      </mz-card>

    </ng-container>
    <ng-container *ngIf="completedJobs.length > 0">
      <mz-card class="center-text" *ngFor="let job of completedJobs">
        <mz-card-title>{{job.title}}</mz-card-title>
        <mz-card-content>{{job.description}}</mz-card-content>
      </mz-card>
    </ng-container>
    <ng-container *ngIf="reviews.length >0">
      <mz-card class="center-text">
        <mz-card-title>
          Reviews
        </mz-card-title>
        <mz-card-content>
          <div>
            <mz-card *ngFor="let review of reviews">
              <mz-card-title>
                <mz-card-content>
                  {{review.review}}
                </mz-card-content>
              </mz-card-title>
            </mz-card>
          </div>
        </mz-card-content>
      </mz-card>
    </ng-container>
    <ng-container *ngIf="reviews.length === 0">
      <mz-card>
        <mz-card-content>
          You have no reviews
        </mz-card-content>
      </mz-card>
    </ng-container>
  </div>

</ng-container>