.height{
    height:10em;
    position: relative;
}
img{
    display:block;
    margin:0 auto;
    position: relative;
    bottom: 2.5em;
    z-index: 1;
   
}
card-content{
  z-index:0;
}
.center-text{
    text-align: center;
}
.skill-box{
    height:5em;
    background-color: rgb(131, 175, 131);
    margin:.5em;
    color: white;
    text-align: center;
}