body{
    background-color:#f9f9f9;
}
.bg-earth{
    background-color: $earth;
}
.bg-crimson{
    background-color: $crimson;
}
.bg-forest-green{
    background-color: $forest-green;
    }
.bg-lime{
    background-color:$lime;
}
.super-container{
    width:96%;
    @include mp0;
}
.container{
    width:90%;
    @include mp0;
}
.avatar-container{
    height:25%;
    width:25%;
    @include mp0;
}
.grassy-knoll{
    @include grassy-knoll-background;
}
.border{
   @include border
}
.selected{
    background-color:$selected-color;
}
.deselected{
    background-color:$deselected-color;
}

.center-text{
    text-align: center;
}
.fit{
    max-height:100%;
    min-height:100%;
    max-width:100%;
    min-width:100%;
    @include mp0
}
.fixed-bottom-left{
    position: fixed;
    top: 99%;
    right: 99%;
}

