body{
    background-color:#f9f9f9;
}
.grassy-knoll{
    @include grassy-knoll-background;
}
.border{
   @include border
}
.selected{
    background-color:$selected-color;
}
.deselected{
    background-color:$deselected-color;
}
.container{
    width:90%;
    margin: 0 auto;
}
.center-text{
    text-align: center;
}
.image-contain{
    object-fit:contain;
}