@mixin grassy-knoll-background{
    background-image:$nav-background; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 auto;
}
@mixin border{
    border: solid 1px $earth;
    border-radius: 5px;
}
