$border-color:#1f3d2d;
$nav-background: url("../assets/images/grass.jpg");
$selected-color:#62f442;
$deselected-color:#c6e0c0;
$forest-green:#2E4600;
$grass:#486B00;
$lime:#A2C523;
$earth:#7D4427;
$crimson:#8D230F