$border-color:#005226;
$nav-background: url("../assets/images/grassy-globe.jpg");
$selected-color:#62f442;
$deselected-color:#809b68;
$forest-green:#2E4600;
$grass:#486B00;
$lime:#A2C523;
$earth:#7D4427;
$crimson:#8D230F;
$outer-card:#a0b7bd;