<div class="user-search">
  <header>
    <button mz-button flat="true" #button routerLink="/search" >Search Users</button>
    <div id="search-box"></div>
    <h4>Search for the right job</h4>
  </header>
</div>
<ng-container *ngIf="results">
  <div class="app-hits">
    <ul>
      <li class="app-hits-item" *ngFor="let hit of results.hits" (click)="configureModal(hit)">
        <p>User: {{ hit.name }}</p>
        <p>Job Title: {{ hit.title }}</p>
        <p>Location: {{ hit.location }}</p>
      </li>
    </ul>
  </div>
</ng-container>
<div id="hitsPer"></div>
<div id="pagination"></div>
