.container {
    overflow: hidden;
    height: 100vh;
}

.usertext{
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

#progress{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:2em;    
}