
h2{
    font-size:1em;
    padding:0;
    margin:0;
}
// p{
//     font-size: .8em;
// }
.usertext{
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

#progress{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:2em;    
}
