<div class="module close" #module>
    <header class="top-bar" (click)="toggleChat()"> 
        <div class="left">
          <span class="icon typicons-message"></span>
          <h1>Chatroom: {{ chat_id }}</h1>
        </div>
        
        <div class="right">
          <span class="icon typicons-minus"></span>
          <span class="icon typicons-times"></span>
        </div>
        
      </header>
      <div class="collapse">
          <ol class="discussion">
              <ng-container *ngFor="let message of messages">
                <li class="{{ message.user_type }} === 'self' ? 'self' : 'other'">
                  <div class="messages">
                    <p>{{ message.message }}</p>
                    <time datetime="2009-11-13T20:00">{{ message.name }} • {{ message.since }} min</time>
                  </div>
                </li>
              </ng-container>
            </ol>
            <form novalidate [formGroup]="form">
                <input formControlName="message" (keydown.enter)="createMessage()" type="text" placeholder ="Get it off your chest">
            </form>
      </div>
</div>