<div>
  <mz-input-container>
    <mz-select-container>
      <input mz-input #search placeholder="Current Location">
      <select #selection mz-select id="options-select" [label]="''" [placeholder]="'select job site'">
        <option *ngFor="let job of jobs" class="left circle"(click)="select()">{{job.location}}</option>
      </select>
    </mz-select-container>
  </mz-input-container>

  <div #map id="map" class="height map"></div>
  <div class="row">
      <button class="col s12 m12 l12" mz-button (click)="calcRoute()">directions</button>
  </div>

  <div #panel class="height col s12 container"></div>

</div>