
<ng-container *ngIf="!this.user">
    <div>
        wait
      </div>
</ng-container>
<ng-container *ngIf="!!this.user">
    <form novalidate [formGroup]="form">
        <!-- <mz-input-container>
          <input mz-input formControlName="client_id"> {{this.user.id}}
        </mz-input-container> -->
        <mz-input-container>
          <input mz-input placeholder="Title" name="Title" formControlName="title">
        </mz-input-container>
        <mz-input-container>
          <input mz-input placeholder="Location" name="Location" formControlName="location">
        </mz-input-container>
        <mz-textarea-container>
          <textarea mz-textarea placeholder="Desciption" rows="5" formControlName="description" name="description"></textarea>
        </mz-textarea-container>
        <button mz-button type=submit (click)="createJob()">Submit</button>
      </form>
</ng-container>
