<mz-card class="form-card" >
    <form novalidate [formGroup]="form" >
      <mz-input-container>
        <input mx-input matInput placeholder="Title" name="Title" formControlName="title">
      </mz-input-container>
      <mz-input-container>
          <input mx-input matInput placeholder="Location" name="Location" formControlName="location">
        </mz-input-container>
      <mz-textarea-container>
        <textarea mz-textarea placeholder="Desciption" rows="5" formControlName="description"name="description"></textarea>
      </mz-textarea-container>
    </form>
    </mz-card>
