
.name{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;    
}


.skilltext{
    color: white;
    height: 3em;
    margin: 0.5em 0;
    font-size: 3em;

    p {
        vertical-align: middle;
        line-height: 3em;
    }
}