<ng-container *ngIf="!!this.user">
<div class=" ">
  <div class="container">
      <img class="fit"[src]="this.user.img">
  </div>
  <mz-card class=" mp0 center-text">
    <mz-card-title>
      <p>{{this.user.name}}</p>
      <p>{{this.user.city}}, {{this.user.state}}</p>
    </mz-card-title>
    <mz-card-content>
      {{this.user.description}}
    </mz-card-content>
  </mz-card>
  <mz-card class="center-text">
    <mz-card-title>
      Skills
    </mz-card-title>
   <mz-card-content class="row">
       <div class="border col l6 m6 s12" *ngFor="let skill of skills">

            {{skill.skill}}
            <img class="fit"src= "../../../assets/images/skillbox-background.png">
           
       </div>
     
   </mz-card-content>
  </mz-card>
  <mz-card class="center-text">
      <mz-card-title>
          Booked Jobs
      </mz-card-title>
  </mz-card>
</div>
</ng-container>
