<ng-container *ngIf="!!this.user && !!jobs">
<div class=" ">
  <div class="container">
      <img class="fit"[src]="this.user.img">
  </div>
  <mz-card class=" mp0 center-text">
    <mz-card-title class="name">
      <p>{{this.user.name}}</p>
      <p>{{this.user.city}}, {{this.user.state}}</p>
    </mz-card-title>
    <mz-card-content>
      {{this.user.description}}
    </mz-card-content>
  </mz-card>
  <mz-card class="center-text">
    <mz-card-title>
      Skills
    </mz-card-title>
   <mz-card-content>
       <div class=" skilltext border" *ngFor="let skill of skills" [ngStyle]="{ 'background-image': 'url(' + skill.skillBackground.changingThisBreaksApplicationSecurity + ')' }">
            <p>{{skill.skill}}</p>
       </div>
   </mz-card-content>
  </mz-card>
  <mz-card class="center-text">
      <mz-card-title>
          Booked Jobs
      </mz-card-title>
      <mz-card-content>
          <h5>
              {{this.jobs.length}}
          </h5>
      </mz-card-content>
  </mz-card>
</div>
</ng-container>
