

<mz-parallax class="paralllax" [height]="600">
    <mz-navbar navbarClass="test">
        <a href="#" class="brand-logo">Logo</a>
        <mz-navbar-item-container [align]="'right'">
          <mz-navbar-item><app-loginform></app-loginform></mz-navbar-item>
          <mz-navbar-item><a href="#">Components</a></mz-navbar-item>
          <mz-navbar-item><a routerLink="js">JavaScript</a></mz-navbar-item>
        </mz-navbar-item-container>
      </mz-navbar>
  <img src="../../../assets/images/grass.jpg">
</mz-parallax>