<div class="user-search">
    <header>
      <button mz-button flat="true" #button2 routerLink="/jobsearch">Search Jobs</button>
      <div id="search-box"></div>
      <h4>Find a member</h4>
    </header>
</div>


  
      <ng-container *ngIf="results">
        <div class="app-hits">
            <div class="app-hits-item" *ngFor="let hit of results.hits">
              <img class="app-hits-img" src="{{hit.img}}">
              <span>
                 <a [routerLink]="['/profile', hit.id]" >User: {{ hit.name }}</a><br>
                   Email: {{hit.email}}<br>
                  {{hit.city}}, {{hit.state}}
              </span>
              
              <div id="skills"> 
                <span *ngFor="let skill of hit.skills">{{ skill }}</span>
              </div>
            </div>
        </div>
      </ng-container>
  
  
      <div id="hitsPer"></div>

      <div id="pagination"></div>

 
  