#search-box, #pagination, #hitsPer{
    text-align: center;
    margin: 0 auto;
}

#pagination2, #hitsPer2{
    text-align: center;
    margin: 0 auto;
}

button {
    margin: 0 5em;
}

/deep/ .app-search-box-input {
    padding-left: 40px!important;
  } 
/deep/ .app-hits {
     margin: 0 5em;
 }
/deep/ .app-hits-item {
    border-bottom: 3px solid darkgreen;
}
/deep/.app-hits-item img {
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
/deep/.app-hits-item span { 
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
}
/deep/.app-pagination {
    border: none;
    box-shadow: none;
}