

<div class="user-search">
  <header>
    <button mz-button flat="true" #button (click)="searchSwitch()">Search Jobs</button>
    <button mz-button flat="true" #button2 (click)="searchUsers()">Search Users</button>
    <div id="search-box">
    </div>
  </header>
</div>
  <main>


      <div *ngIf="!isJobs" class="app-hits">
          <ul>
            <li class="app-hits-item" *ngFor="let hit of state.hits">
                <img class="app-hits-img" src="{{hit.img}}">
                <span>
                  <a [routerLink]="['/profile', hit.id]" >User: {{ hit.name }}</a> <br>
                      Email: {{hit.email}}
                  <p>{{hit.city}}, {{hit.state}}</p>
                </span>
              </li>
            </ul>
      </div>

      <div *ngIf="isJobs" class="app-hits">
          <ul>
            <li class="app-hits-item" *ngFor="let hit of state.hits">
                <img class="app-hits-img" src="{{hit.img}}">
                <span>
                  <a [routerLink]="['/job', hit.id]" >User: {{ hit.title }}</a> <br>
                      {{ hit.name }}
                  
                </span>
              </li>
            </ul>
      </div>

    <div id="hitsPer"></div>
    <div id="hitsPer2"></div>
    <!-- <div id="hits"></div>
    <div id="hits2"></div> -->
    <div id="pagination"></div>
    <div id="pagination2"></div>
  </main>
