


<button mz-button (click)="bottomSheetModal.open()">Sign In</button>

<mz-modal #bottomSheetModal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
  <mz-modal-header>
    Modal Title
  </mz-modal-header>
  <mz-modal-content>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
      <div class="form-group">
        <label class="center-block">Email:
          <input class="form-control" formControlName="email">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Password:
          <input class="form-control" formControlName="password">
        </label>
      </div>
      <button type="submit" >Login In</button>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Disagree</button>
    <button mz-button [flat]="true" mz-modal-close>Agree</button>
  </mz-modal-footer>
</mz-modal>